.userRankRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 8vh;
}

.name {
    margin-left: 5vw;
    font-size: 2em;
}

.score {
    margin-right: 5vw;
    font-size: 2em;
}