.App {
    text-align: center;
}


html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.probStatement {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.startButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    cursor: pointer;
}

.username-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.username-input::placeholder {
    color: #aaa;
}